.container {
  max-width: 50rem;
  margin: 0 auto;

  @media (min-width: $desktop-breakpoint) {
    max-width: 80rem;
    padding: 0 $l-size;
  }
}

.form-container {
  // max-width: 60rem;
}

.delete-exercise-btn {
  background-color: #dd1f4b;
  border-radius: 10px;
  color: #efefef;
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  margin: $m-size auto;
  padding: $s-size;
  width: 100%;
}
