.container--search {
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    max-width: 80rem;
  }
  &__filter {
    max-width: 25rem;
  }
  &__filter-dropdown {
    display: flex;
    justify-content: flex-end;
    margin: $m-size 0;
  }
}