.fieldset {
  background: $off-white;
  border: none;
  border-radius: 8px;
  padding: $xs-size;
  margin-bottom: $s-size;
}

.fieldset__header {
  background: $off-black-light;
  border-radius: 15px;
  padding: $m-size;
  max-width: 100%;
  h4 {
    color: $off-white;
    font-size: 2rem;
    margin: 0;
  }
}

.fieldset__body {
  background: $light-gray;
  border-radius: 15px;
  padding: $m-size;
  margin-top: 5px;
}

.fieldset__exercise-name-body {
  display: flex;
  align-items: center stretch;
  padding: $m-size;
}

.fieldset__exercise-name-body__input {
  background: $off-black-light;
  border: 1px solid $off-black-light;
  border-bottom: .3rem solid darken($off-black-light, 10%);
  color: $off-white;
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}

.fieldset__exercise-name-body__button {
  background: $blue;
  color: white;
  font-weight: 700;
  border: none;
  border-bottom: .3rem solid darken($blue, 10%);
  padding: 1rem;
}