.dropdown {
  display: inline-block;
  position: relative;
  &__button {
    font-weight: normal;
    margin: 0;

    &:focus {
      outline: none;
    }
  }
  &__menu {
    background: white;
    color: $off-black;
    font-size: 1.4rem;;
    position: absolute;
    top: 4.1rem;
    left: 1rem;
    border-radius: 2px;
    cursor: default;
    width: 15rem;
    z-index: 1;
  }
  &__menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: inherit;
    &:not(:last-child) {
      border-bottom: 1px solid $off-white;
    }
    &:hover {
      background: $off-white;
    }
  }
  &__menu__subitem {
    position: absolute;
    left: 147px;
    min-width: 15rem;
    &--body-sections {
      top: -4px;
    }
    &--primary-movers {
      top: 28px;
    }
    &--movement-types {
      top: 60px;
    }
    &--training-phases {
      top: 93px;
    }
    &--workout-types {
      top: 126px;
    }
    &--equipment {
      top: 159px;
    }
  }
}