@mixin open-dropdown($duration, $menu-height, $overflow) {
  &-enter {
    max-height: 0px;

    &-active {
      max-height: $menu-height;
      transition: max-height $duration ease-in-out;
    }

    &-done {
      max-height: $menu-height;
      overflow: $overflow;
    }
  }

  &-exit {
    max-height: $menu-height;

    &-active {
      max-height: 0px;
      transition: max-height $duration ease-in-out;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15rem;
  right: 1rem;
  width: 16rem;

  &__toggle {
    cursor: pointer;
    font-weight: normal;
    margin: 0;
    padding: 8px;
    width: inherit;

    &:focus {
      outline: none;
    }
  }

  &__menu {
    background: white;
    color: $off-black;
    cursor: default;
    font-size: 1.4rem;;
    width: inherit;
    z-index: 1;

    max-height: 0px;
    overflow: hidden;

    @include open-dropdown(200ms, 225.8px, visible);

    &__item {
      background: $off-black-light;
      color: $off-white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;

      &:not(&:last-child) {
        border-bottom: 1px solid $off-white;
      }

      &:hover {
        background: $off-white;
        color: $off-black-light;
        font-weight: bold;
      }
    }

    &__subitem {
      width: inherit;

      max-height: 0px;
      overflow: hidden;

      @include open-dropdown(400ms, var(--client-height), visible)
    }
  }
}