.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    margin: 0;

    &__icon {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: $xs-size;
    }

    &__text {
      font-size: $l-size;
    }
  }

  &__nav__link {
    color: $off-white;
    padding: $xs-size;
    text-decoration: none;
  }

  &__nav__button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.is-active {
  font-weight: bold;
}