.mobile-nav {
  background: white;
  color: black;
  position: absolute;
  top: 80px;
  right: -218px;
  cursor: pointer;

  &-enter {
    right: -218px;

    &-active {
      right: 0px;
      transition: right 300ms ease-in-out;
    }

    &-done {
      right: 0px;
    }
  }

  &-exit {
    right: 0px;

    &-active {
      right: -218px;
      transition: right 300ms ease-in-out;
    }
  }

  &__item {
    font-size: 1.8rem;
    padding: $m-size;
    &:not(:last-child) {
      border-bottom: 1px solid $off-white;
    }
    &:hover {
      background: $off-white;
    }
  }
  &__link {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
  &__logout {

  }
}

// Override antd styles for menu icon
.anticon-menu {
  color: #a5afd7;
  font-size: 3rem;
  position: relative;
  top: 3px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #0056b3;
  }
}