.container--search {
  display: flex;
}

.container--search__filter {
  max-width: 25rem;
  margin-right: $xl-size;
}

@media(min-width: $desktop-breakpoint) {
  .container--search {
    max-width: 80rem;
  }
}