html {
  font-size: 62.5%;
}

body {
  background: $dark-gray;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

fieldset {
  padding: 0;
}

button {
  cursor: pointer;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__link {
  color: $off-white;
  padding: $xs-size;
  text-decoration: none;
}

.filter-container {
  max-width: 25rem;
  margin-right: $xl-size;
}

.search-container {
  display: flex;
}

.fieldset-header {
  background: $gray;
  padding: $m-size;
  max-width: 100%;
  h4 {
    color: $off-white;
    font-size: 2.2rem;
    margin: 0;
  }
}

.fieldset-body {
  padding: $m-size;
}

.name-fieldset-body {
  display: flex;
  align-items: center stretch;
}

.name-fieldset-body__input {
  background: $off-black-light;
  border: 1px solid $off-black-light;
  border-bottom: .3rem solid darken($off-black-light, 10%);
  color: $off-white;
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}

.exercise-list__header {
  background: $gray;
  padding: $s-size;
}

.exercise-list__items {
  padding: $s-size;
}

.button {
  background: $blue;
  color: white;
  font-weight: 700;
  border: none;
  border-bottom: .3rem solid darken($blue, 10%);
  padding: 1rem;
}
