html {
  font-size: 62.5%;
}

body {
  background: $dark-gray;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-weight: bold;
}

button {
  cursor: pointer;
}

.text-input {
  background: $off-black-light;
  border: 1px solid $off-black-light;
  border-bottom: .3rem solid darken($off-black-light, 10%);
  color: $off-white;
  margin: .4rem;
  padding: $xs-size;
}