// Colors
$off-black: #20222b;
$off-black-light: #272a38;
$off-white: #a5afd7;
$blue: #186bf2;
$light-blue: #464b5e;
$gray: #272a38;
$dark-gray: #333745;
$light-gray: #464b5e;

// Spacing Sizes
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;